
.lesson-link {
  border: dotted var(--blue) 0.5px;
}

.lesson-link .link {
  padding: 1rem;
  cursor: pointer;
}

.lesson-link .link a {
  display: flex;
  color: var(--white);
  justify-content: space-between;
  text-decoration: none;
}

.lesson-link .active-video {
  padding: 1rem;
  background-color: var(--red);
}

.lesson-link .link:hover  {
  background-color: var(--blue);
  border: none;
}
