@import '../VARIABLES.scss';

.lessons-pane {
  background-color: var(--white);
  min-width: 30%;
  border: solid var(--blue) 2px;
}

.lessons-pane h2 {
  background-color: var(--navy);
  padding: 1rem;
  font-weight: bold;
  color: var(--white);
}