.lesson-nav-bar {
  .btn {
    border: none;

    a {
      font-family: var(--font-deco);
      font-size: 1rem;
      height: 100%;
      width: 100%;
      background-color: var(--accent-dark-bright);
      color: var(--plain-light);
      text-decoration: none;
    }
  }

  .prev-btn {
    float: left;
  }

  .next-btn {
    float: right;
  }
}

.lesson-nav {
  margin-top: -1rem;
  margin-bottom: 2rem;

  a {
    background-color: var(--accent-dark-bright);
    color: var(--plain-light);
    padding: 0.75rem 1.5rem;
  }
  & a:hover {
    background-color: var(--accent-dark-dull);
  }
}

.course-nav {
  margin-bottom: 1rem;
  a {
    display: inline-block;
    padding: 0.75rem 0;
  }
  a:hover {
    text-decoration: underline;
  }
}

// clear floats
.lesson-nav-bar:after {
  content: '';
  display: block;
  clear: both;
}
