.lessons-pane {
  background-color: var(--plain-light);
  border: solid var(--accent-dark-bright) 2px;
  min-width: 305px;
  flex: 1 0 30%;
}

.lessons-pane h2 {
  background-color: var(--accent-dark-bright);
  padding: 1rem;
  font-weight: bold;
  color: var(--plain-light);
  font-size: calc(16px + 1vw);
}
