.lesson-link {
  border: dotted var(--accent-dark-bright) 0.5px;
  font-family: var(--font-main);
  color: var(--plain-dark);

  .video-length {
    float: right;
  }
}

a.lesson-link,
p.lesson-link {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

a.lesson-link {
  cursor: pointer;
  color: var(--plain-dark);
  text-decoration: none;
}

p.lesson-link {
  color: var(--plain-light);
  background-color: var(--accent-dark-dull);
}

a.lesson-link:hover {
  background-color: var(--accent-light-dull);
  color: var(--plain-light);
  border: none;
}
