.lessons-pane {
  background-color: var(--white);
  border: solid var(--blue) 2px;
  min-width: 305px;
  flex: 1 0 30%;
}

.lessons-pane h2 {
  background-color: var(--navy);
  padding: 1rem;
  font-weight: bold;
  color: var(--white);
  font-size: calc(16px + 1vw);
}
