@import '../VARIABLES.scss';

.lesson-link {
  border: dotted var(--blue) 0.5px;
  font-family: var(--fontfamily-alt);
  color: var(--black);

  .video-length {
    float: right;
  }
}

a.lesson-link,
p.lesson-link {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

a.lesson-link {
  cursor: pointer;
  color: var(--black);
  text-decoration: none;
}

p.lesson-link {
  color: var(--white);
  background-color: var(--brown);
}

a.lesson-link:hover {
  background-color: var(--greyblue);
  color: var(--white);
  border: none;
}
