@import '../VARIABLES.scss';

.lesson-info {
  background-color: #EEEEEE;
  padding: 3rem;
  border: 2px solid var(--blue);
}

.lesson-info h2 {
  margin: 1rem 0 1.5rem 0;
  color: var(--brown);
  text-shadow: 1px 0px var(--greyblue);
}

#lesson-playing {
  color: var(--black);
}

#lesson-description {
  font-family: var(--fontfamily-alt);
  color: var(--black);
}