.yt-info {
  margin: 1rem 0;

  .promo {
    font-family: var(--fontfamily-alt);
  }

  .subheader {
    color: var(--brown);
  }

  .chunk {
    margin-top: 8px;
  }

  .yt-desc {
    .yt-desc-text {
      overflow: hidden;
      transition: height 0.2s ease-in-out;
    }

    .yt-desc-line {
      margin: 1px 0px 2px 0px;
      // font-size: calc(0.6em + 0.75vw);
      font-size: 0.85em;
      line-height: 145%;
    }

    .pad-line {
      padding-bottom: 0.8em;
    }

    .breakline {
      width: 88%;
    }

    .see-more {
      cursor: pointer;
      border: none;
      padding: 0.75rem;
      margin-top: 8px;
      font-family: var(--fontfamily);
      font-size: 1rem;
      background-color: var(--navy);
      color: var(--cream);
    }
  }

  a {
    text-decoration: none;
    color: var(--light-blue);
  }

  a:hover {
    text-decoration: underline;
  }
}
