.account-menu {
  padding: 30px;
  background-color: var(--accent-light-dull);
  width: var(--sidebar-width);

  .menu-header {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  ul {
    list-style: none;

    li {
      margin-bottom: 15px;
      font-family: var(--font-alt);

      .active-view {
        font-weight: bolder;
        color: var(--accent-light-bright);
        font-size: 1.2rem;
      }

      button {
        cursor: pointer;
        background-color: transparent;
        border: none;
        font-size: 1rem;
        color: var(--font-alt);
      }

      button:hover,
      button:focus {
        text-decoration: underline;
      }
    }
  }
}
