.lesson-card {
  // display: block
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 3px 0px 1px var(--accent-light-dull);
  border-radius: 5px;
  margin: 10px;
  padding: 14px;
  background-color: var(--accent-dark-bright);
  color: var(--plain-light);
  text-decoration: none;
  height: 180px;
  max-width: 470px;
  transition: transform 0.2s ease-in-out;

  .lesson-title {
    font-family: var(--font-deco);
    font-weight: bolder;
    color: var(--accent-light-dull);
    text-decoration: underline;
  }

  .lesson-description {
    font-size: 0.8em;
    overflow: auto;
    height: 60%;
  }

  .progress-bar {
    margin-top: 14px;
  }

  &:hover,
  &:focus {
    transform: scale(1.02);
  }
}
