$title-bar: #334552;
$contentBackground: var(--white);

.question-container {
  width: 900px;
  margin: 15px auto 30px auto;

  .FAQTitle {
    color: var(--black);
    text-align: center;
    margin-bottom: 6px;
    font-family: var(--font-main);
  }

  /* Accordion styles */
  .tabs {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);

    input {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }

    .tab {
      width: 100%;
      color: white;
      overflow: hidden;

      &-label {
        display: flex;
        justify-content: space-between;
        padding: 1em;
        font-family: var(--font-alt);
        background: $title-bar;
        cursor: pointer;

        /* Icon */
        &:hover {
          // background: color(var(--navy) tint(+ 50%));
          background: rgba($title-bar, 0.85);
          // background: darken($title-bar, 10%);
        }

        &::after {
          content: '\276F';
          width: 1em;
          height: 1em;
          text-align: center;
          transition: all 0.35s;
        }
      }

      &-content {
        max-height: 0;
        padding: 0 1em;
        color: var(--black);
        background: $contentBackground;
        transition: all 0.35s;
        font-family: var(--font-main);
        line-height: 30px;
      }

      &-close {
        display: flex;
        justify-content: flex-end;
        padding: 1em;
        font-size: 0.75em;
        background: $title-bar;
        cursor: pointer;

        &:hover {
          // background: darken($title-bar, 10%);
          background: rgba($title-bar, 0.85);
        }
      }

      // :checked
      input:checked {
        + .tab-label {
          // background: rgba($title-bar, 0.85);
          background: transparentize($title-bar, 0.85);
          // background: color(var(--navy) tint(+ 50%));
          // background: darken($title-bar, 10%);

          &::after {
            transform: rotate(90deg);
          }
        }

        ~ .tab-content {
          max-height: 100vh;
          padding: 1em;
          font-family: var(--font-alt);
          font-weight: 300;
          background-color: var(--white);
        }
      }
    }
  }
}

@media only screen and (max-width: 760px) {
  .question-container {
    width: 80%;
    margin: auto;
  }
}
