.dashboard {
  --sidebar-width: 25%;

  display: flex;
  min-height: calc(100vh - 80px - 100px);

  .dashboard-body {
    color: var(--plain-dark);
    font-family: var(--font-main);
    padding: 40px;
    width: calc(100% - var(--sidebar-width));

    .dashboard-line {
      width: 99.5%;
      margin: 12px auto;
      border: 2px solid var(--accent-dark-dull);
    }

    .dashboard-header {
      font-size: 1.8rem;
      font-family: var(--font-deco);
    }

    .dashboard-text {
      padding: 15px 0px;
    }
  }
}

// @media screen and (max-width: 860px) {
//   .dashboard {
//     flex-direction: column;
//     align-items: stretch;
//     text-align: center;
//   }
// }
