//TODO: Resolve class names to be camelCase or kabob-case

.dashboard {
  display: flex;
  min-height: calc(100vh - 80px);
}

@media screen and (max-width: 860px) {
  .dashboard {
    flex-direction: column;
    align-items: stretch;
    text-align: center;
  }

  .accountForms form {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .accountForms form label input {
    margin: 10px 0;
  }

  .accountForms form button {
    margin: 20px auto;
    width: 100%;
    max-width: 2000px;
  }
}

.dashboardHeader,  .menuHeader{
  display: block;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  padding: 0;
  float: none;
  margin-left: 0;
}

.menuHeader{
  color: var(--white);
  margin-bottom: 10px;
}

.dashboardHeader, .dashboardText{
  color: var(--black);
}

.dashboardBody {
  padding: 50px;
  flex: 1;
}

.dashboardBody p {
  padding: 15px 0;
  margin: 0;
  font-family: var(--fontfamily-alt);
}

.dashboard .activeView {
  font-weight: bolder;
  font-family: var(--fontfamily-alt);
  color: var(--greyblue);
}

.accountMenu {
  padding: 30px;
  background-color: var(--light-blue);
}

.accountMenu ul {
  list-style: none;
  padding: 0;
}

.accountMenu ul li {
  margin-bottom: 15px;
}

.accountMenu .activeView {
  color: var(--orange);
}

.linkButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: var(--fontfamily-alt);
  color: var(--white);
}

.linkButton:hover,
.linkButton:focus {
  text-decoration: underline;
}

.accountSettings {
  display: flex;
  flex-direction: column;
}

.accountForms {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.accountForms form {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
  padding-right: 30px;
}

.accountForms form input {
  display: block;
  margin: 10px;
  padding-left: 20px;
  min-width: 200px;
  max-width: 400px;
  background-color: var(--greyblue);
  outline: none;
  font-size: 1rem;
  font-family: var(--fontfamily-alt);
}

.accountForms form button {
  font-size: 18px;
  margin: 20px 0;
  max-width: 200px;
  font-family: var(--fontfamily);
  background-color: var(--light-blue);
  outline: none;
}

.accountForms form button:active {
  outline: 1px solid var(--grey);
  outline-offset: -4px;
}
