.error {
  text-align: center;
  background-color: #c1c6c9;
  height: 100%;

  .error-container {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-wrap: wrap;
  }

  .error-text {
    width: 400px;
    color: var(--black);
    margin-top: 75px;
    margin-bottom: 50px;

    h3 {
      margin: 1em auto;
    }

    h4 {
      font-family: var(--fontfamily-alt);
    }
  }
}

