@import 'node_modules/@glidejs/glide/src/assets/sass/glide.core';
@import 'node_modules/@glidejs/glide/src/assets/sass/glide.theme';

#splash-container {
  background-color: var(--plain-dark);
  position: relative;
  height: auto;

  #call-to-action {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;

    h3 {
      font-size: calc(2vw + 1rem);
      color: var(--plain-light);
      text-shadow: 2px 2px 4px var(--accent-dark-bright);
      text-align: center;
    }

    button {
      width: 200px;
      background-color: var(--accent-dark-mid);
      color: var(--plain-light);
      padding: 10px 5px;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 1px 3px var(--accent-dark-bright);
      font-size: 15px;
      font-family: var(--font-deco);
      font-weight: bold;
      margin-top: 20px;
      cursor: pointer;
    }

    #clipPolygon {
      z-index: 3;
      background-color: var(--accent-dark-bright);
    }
  }

  .splash-image {
    width: 100%;
    height: auto;
    z-index: 1;
  }
}

#company-name {
  padding: 30px 0px;
  height: auto;
  min-height: 200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--accent-dark-dull);
  font-size: 4vw;
  text-shadow: 2px 1px 1px var(--plain-dark);
}

#company-information {
  // background-color: var(--theme-color);
  height: 100%;
  margin: 30px;

  #company-grid {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: 1em auto;

    .company-box {
      max-height: 500px;
      color: var(--plain-dark);
      font-family: var(--font-alt);
      font-weight: 300;
      display: flex;
      align-items: center;
      justify-content: flex-start; 
      font-size: calc(15px + .5vw);
      padding: 20px;

      img {
        height: calc(25px + 1.5vh + 1.5vw);
      }
    }

    .company-info {
      padding: 2em;
    }
  }
}

#testimonials {
  height: 400px;
  background-color: var(--theme-color);
}

.homepage-line {
  border: 2px solid var(--accent-dark-dull);
  width: 80%;
  margin: 1em auto;
}
