@import '../VARIABLES.scss';
// @import '../lesson/Lesson.scss';
// @import '../lesson/LessonVideo.scss';
// @import '../lesson/LessonsPane.scss';
// @import '../lesson/LessonLink.scss';
// @import '../lesson/LessonInfo.scss';

.lesson-page {
  display: flex;
  background-color: var(--black);
}

.lesson-page > * {
  color: var(--white);
}