.support-container {
  background-color: var(--plain-light);
  padding: 20px;

  .breakline {
    width: 95%;
    max-width: 1110px;
    margin: 10px auto;
    border: 4px solid var(--accent-dark-dull);
  }

  .support-title {
    text-align: center;
    margin: 5px 0px;
    color: var(--plain-dark);
  }
}
