.Modal {
    position: fixed;
    z-index: 500;
    color: black;
    background-color: white;
    width: 70%;
    height: 650px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 15%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.Modal img {
    padding-left: 20%;
}

.Modal h3 {
    padding-top: 10px;
    padding-left: 20%;
}

.Modal p {
    padding-top: 10px;
    padding-left: 20%;
    padding-right: 20%;
}

.Modal button {
    width: 250px;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}