@function getRGBfromHex($hex) {
  @return red($hex), green($hex), blue($hex);
}

#login-container {
  border: 1px solid var(--black);
  border-radius: 10px;
  background-color: rgba($color: #0a090c, $alpha: 0.7);
  max-width: 600px;
  box-shadow: 3px 3px 6px var(--black);
  text-align: center;
  margin: auto;
  position: relative;
  top: 80px;

  #title {
    padding: 20px;
    text-align: center;
  }

  #login-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      padding: 10px;
    }
  }

  input {
    height: 30px;
    width: 400px;
    border-radius: 5px;
  }

  form input.error {
    border-color: var(--error);
  }

  #submit-button {
    height: 50px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid var(--grey);
    background-color: rgba($color: #eeeeee, $alpha: 0.2);
    // background-color: rgba(var(--plain-light-rgb), 0.2);
    color: var(--white);
    margin: 15px;
    font-size: 1.2em;
    transition: 1s;
    cursor: pointer;
  }

  #submit-button:hover {
    background-color: var(--orange);
  }

  #submit-button:disabled {
    background-color: var(--brown);
  }

  p {
    font-size: 15px;
    margin-bottom: 20px;
    font-family: var(--font-main);
  }

  #signup-button {
    border: none;
    background: none;
    color: var(--orange);
    font-size: 15px;
    font-family: var(--font-main);
    cursor: pointer;
  }

  #failedToRegister {
    color: var(--error);
  }

  .warning {
    padding-top: 15px;
    color: var(--error);
    text-align: center;
  }
}
