#an-id {
  outline: none;
}

#title {
  padding-top: 2em;
  padding-bottom: 1em;
  text-align: center;
}

form {
  display: grid;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 4em;
}

label {
  display: flex;
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: left;
  font-size: 1.2em;
}

p {
  padding-top: 10px;
  font-size: 15px;
}

textarea:focus,
input:focus {
  outline: none;
}

h6 {
  color: white;
  font-weight: 100;
  font-style: oblique;
  padding-bottom: 5px;
}


input {
  height: 45px;
  width: 500px;
  padding-left: 15px;
  font-size: 20px;
  border-radius: 10px;
  border-style: 1px;
}

input:hover {
  border-style: solid red;
}

form input.error {
  border-color: red;
}

button {
  height: 50px;
  width: 150px;
  border-radius: 25px;
  border: 2px solid none;

  background-color: #641513;
  color: white;
  margin-top: 15px;
  font-size: 1.2em;
  transition: 1s;
  position: relative;
  margin-left: 7.5em;
}


button:hover {
  background-color: #2E284E;
}

button:disabled {
  background-color: #454545;
}

#failedToRegister {
  color: red;
}


.warning {
  padding-top: 15px;
  color: red;
  text-align: center;
}