#signup-container {
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba($color: #0a090c, $alpha: 0.7);
  max-width: 600px;
  box-shadow: 3px 3px 6px rgb(37, 37, 37);
  text-align: center;
  margin: auto;
  position: relative;
  top: 60px;

  #signup-title {
    padding: 20px;
    text-align: center;
  }

  #signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      padding: 10px;
    }
  }

  label {
    display: flex;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: left;
    font-size: 1.2em;
  }

  p {
    padding-top: 10px;
    font-size: 15px;
    font-family: var(--font-main);
  }

  textarea:focus,
  input:focus {
    outline: none;
  }

  h6 {
    color: white;
    font-family: var(--font-main);
    font-weight: 100;
    font-style: oblique;
    padding-bottom: 5px;
  }

  input {
    height: 30px;
    width: 400px;
    border-radius: 5px;
  }

  input:hover {
    border-style: solid red;
  }

  input:placeholder-shown {
    padding-left: 10px;
  }

  form input.error {
    border-color: red;
  }

  a {
    color: orange;
  }

  p {
    font-size: 15px;
    margin-bottom: 20px;
    font-family: var(--font-main);
  }

  #register-button {
    height: 50px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid var(--grey);
    background-color: rgba($color: white, $alpha: 0.2);
    color: white;
    margin: 15px;
    font-size: 1.2em;
    transition: 1s;
    cursor: pointer;
  }

  button:hover {
    background-color: orange;
  }

  button:disabled {
    background-color: #454545;
  }

  #failedToRegister {
    color: red;
  }

  #login-button {
    border: none;
    background: none;
    color: orange;
    font-size: 15px;
    font-family: var(--font-main);
    cursor: pointer;
  }

  .warning {
    padding-top: 15px;
    color: red;
    text-align: center;
  }
}
