.pageFooter {
  display: grid;
  grid-template-columns: repeat(3, minmax(5rem, 10rem));
  align-content: center;
  justify-items: center;
  justify-content: center;
  align-items: center;

  padding: 0.5rem;

  text-align: center;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
  color: var(--white);
  background-color: var(--navy);
}

.pageFooter p {
  padding: 0;
  margin: 0;

  font-size: 13px;
  color: var(--white);
}

.pageFooter a {
  font-size: 13px;
  color: var(--white);
}

.pageFooter div div {
  position: relative;
  height: 3em;
  width: 4em;
  margin: auto;
  overflow: hidden;

  img {
    width: 3em;
  }
}
