@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

img#main-splash {
  width: 100vw;
  height: 600px;
}

#company-information {
  background-color: var(--blue);
  height: 100%;
  
  
  #company-grid {
    height: 500px;
    width: 600px;
    display: grid;
    // margin: 2em auto;
    margin: auto;
    grid-template-columns: 300px 300px;
    grid-row: auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 30px;
  
    .company-box {
      background-color: white;
      padding:20px;
      border-radius:10px;
      color: black;
      display:flex;
      align-items:center;
      justify-content:center;
      font-size:20px;
    }

  }

}


#start-path {
  padding-top: 40px;
  height: 400px;
  width: 600px;
  margin: auto;
}

#path-image {
  background-color:#333;
  padding:20px;
  border-radius:10px;
  color:#fff;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:30px;
  height: 200px;
  width: 200px;
}

#testimonials {
  background-color: var(--orange);
  color: white;
  text-align: center;

  h2 {
    padding-top: 20px;
  }

  p {
    max-width: 900px;
    margin: 2em auto;
  }

  .testimonial-author-container {
    padding-bottom: 20px;
  }

  .glide__arrow.glide__arrow--left {
    background: white;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
  }

  .glide__arrow.glide__arrow--right {
    background: white;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
  }
}