@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import '../css/VARIABLES.css';
/* =========================== RESETS =========================== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* =========================== MAIN =========================== */

body {
  margin-top: var(--nav-height);
  background-color: #0A090C;
  /* background-color: #454545; */
  font-family: var(--fontfamily);
  font-size: 20px;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  body {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 450px) {
  body {
    margin-top: 30px;
  }
}
