@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import '../css/VARIABLES.scss';
/* =========================== RESETS =========================== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* =========================== MAIN =========================== */

body {
  background-color: var(--grey);
  color: var(--white);
  font-family: var(--fontfamily);
  font-size: 20px;
  height: 100%;
}

#start-page {
  height: 100vh;
}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 450px) {
}
