#nav-main {
  display: flex;
  color: var(--white);
  background-color: var(--black);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.4);
  height: 80px;
  width: 100%;
  justify-content: space-between;

  a {
    text-decoration: none;
  }

  .desktop-logo {
    // height: 100%;
    padding: 2px;
    width: 400px;
    margin-left: 10px;
  }

  .mobile-logo {
    // height: 100%;
    padding: 2px;
    height: 70px;
    margin-left: 10px;
  }
}

.nav-home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.desktop-nav {
  display: none;
  list-style: none;
  margin-right: 10px;
  margin-top: 15px;

  li {
    padding: 10px;
  }

  a {
    color: var(--white);
    text-decoration: none;
  }

  a:hover {
    color: var(--red);
  }
}

.bm-burger-button {
  color: var(--white);
  margin-top: 5px;
}

// /* Small devices (landscape phones, 576px and up) */
// @media (min-width: 576px) {
// }

// /* Medium devices (tablets portrait, 768px and up)  */
// @media (min-width: 768px) {
// }

@media (max-width: 992px) {
  .desktop-logo {
    display: none;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .mobile-nav {
    display: none;
  }

  .mobile-logo {
    display: none;
  }

  .nav-title {
    display: block;
  }

  .desktop-nav {
    display: flex;
  }
}

// /* Extra large devices (large desktops, 1200px and up) */
// @media (min-width: 1200px) {
// }
