#nav-main {
  display: flex;
  color: var(--white);
  background-color: var(--navy);
  height: 80px;
  width: 100%;
  justify-content: space-between;

  a {
    text-decoration: none;
  }

  .desktop-logo {
    // height: 100%;
    display: none;
    padding: 2px;
    width: 400px;
    margin-left: 10px;
  }

  .mobile-logo {
    // height: 100%;
    padding: 2px;
    height: 70px;
    margin-left: 10px;
  }
}

.nav-home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.desktop-nav {
  display: none;
  list-style: none;
  margin-right: 10px;
  margin-top: 15px;

  li {
    padding: 10px;
  }

  a {
    color: var(--white);
    text-decoration: none;
  }

  a:hover {
    color: var(--stone);
  }
}

.bm-burger-button {
  color: var(--white);
  margin-top: 5px;
}

@media (min-width: 875px) {
  #nav-main {
    .mobile-nav {
      display: none;
    }

    .mobile-logo {
      display: block;
    }

    .desktop-nav {
      display: flex;
    }

    .desktop-logo {
      display: none;
    }
  }
}

@media (min-width: 1150px) {
  #nav-main {
    .mobile-nav {
      display: none;
    }

    .mobile-logo {
      display: none;
    }

    .desktop-nav {
      display: flex;
    }

    .desktop-logo {
      display: block;
    }
  }
}
