.progress-bar {
  position: relative;
  height: 24px;
  width: 350px;
  background-color: var(--theme-color);
  border-radius: 30px;
  border: 1px solid var(--accent-dark-dull);

  .progress-fill {
    background-color: var(--accent-light-bright);
    height: 99%;
    border-radius: inherit;
    transition: width 0.2s ease-in;
  }

  .progress-label {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    font-weight: bold;
    color: var(--accent-dark-dull);
    margin: 0px;
    width: 100%;
    text-align: center;
  }
}
