#course-list {
  flex-wrap: wrap;
  color: var(--offwhite);
  font-family: var(--fontfamily);
}

#course-item {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  outline: none;
}

#course-item:active {
  filter: brightness(75%);
}

#course-item:hover {
  cursor: pointer;
}

#course-item:hover img,
#course-item:focus img {
  box-shadow: 0px 0px 2px 2px var(--purple);
}

#list-all-courses {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  color: var(--offwhite);
  font-family: var(--fontfamily);
}

.img-fluid {
  /* max-width: 100%; */
  width: 275px; 
  height: 12rem;
  background-color: cadetblue;
  text-align: center;
  padding: 4rem;
  box-shadow: 2px 2px 2px rgba(119, 117, 117, 0.2);
}

.loader {
  text-align: center;
}

@media only screen and (max-width: 400px) {
  #list-all-courses {
    padding-top: 30px;
  }
}

/* Both these media tags fixes the size of the mega menu when resized for small screens */
@media only screen and (max-width: 600px) {
  #list-all-courses {
    padding-top: 20px;
  }

  #course-item {
    padding-top: 15px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #course-item {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
  }
}

/* Medium devices (tablets portrait, 768px and up)  */
@media (min-width: 768px) {
  #course-item {
    width: 45%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #course-item {
    width: 28.333%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #course-item {
    width: 23%;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
