.path-info {
  width: 100%;
  color: var(--plain-dark);
  text-align: center;
  font-family: var(--font-deco);

  .path-logo {
    height: calc(100px + 15vw + 10vh);
    margin: 10px auto;
  }

  .breakline {
    border-width: 2.5px;
  }
}
